# не обрабатывать файлы, им€ которых заканчиваетс€ на .pyc
*.pyc
# игнорировать файл secret_key.txt наход€щийс€ в корневом каталоге
/secret_keys.txt
# игнорировать все файлы в каталоге .idea
.idea/
# игнорировать файл settings_debug.py наход€щийс€ в каталоге main
main/settings_debug.py