# не обрабатывать файлы, имя которых заканчивается на .pyc
*.pyc
# игнорировать файл secret_key.txt находящийся в любом каталоге
secret_keys.txt
# игнорировать все файлы в каталоге .idea
.idea/
# игнорировать все файлы в каталоге .logs
.logs/
# игнорировать файл settings_debug.py находящийся в любом каталоге
settings_debug.py