django==2.1.*
django-extensions
django-configurations
django-anymail[mailjet]
django-dotenv
djangorestframework
djangorestframework_simplejwt
django-filter
django-cors-headers
dj-database-url==0.5.0
django-elasticsearch-dsl
elasticsearch-dsl>=7.0.0,<8.0.0
pytz
requests
gunicorn
mysqlclient
whitenoise
