<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          onError="this.onerror=null;this.href='{% static 'knowledge_storage/css/bootstrap.min.css' %}';">
    <link rel="stylesheet" href="{% static 'knowledge_storage/css/main.css' %}">
  </head>

  <body>

    {% if messages %}
    <div class="messages">
        <div class="b-popup-content">
            {% for message in messages %}
            <p><b>{{ message }}</b></p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <header id="header">
        <div class="header-nav">
            <ul>
                <li id="home">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
                    <li><a href="{% url 'edit_profile' %}?next={{request.path}}">{{request.user.username}}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                    <li><a href="{% url 'register' %}?next={{request.path}}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>

        <nav class="subnav">
            <ul class="site-navigation">
                <li class="navitem"><a href="{% url 'learn_options' %}">Learn</a></li>
                <li class="navitem"><a href="{% url 'check_options' %}">Check</a></li>
                <li class="navitem"><a href="{% url 'note_options' %}">Note</a></li>
            </ul>
        </nav>
    </header>

    <div class="things-to-learn">
      <div class="container">
        <h1>Common resources</h1>
        <h2>Keep your links to valuable resources sorted.</h2>
        <div class="row">

          <div class="col-md-4">
            <a href="{% url 'show_learn_links' %}?subject=Logic" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.1.jpg' %}" alt="Image not found">
              <p>Logic</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Algorithms" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.2.jpg' %}" alt="Image not found">
              <p>Algorithms</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Django" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.3.jpg' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Design patterns" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.4.jpg' %}" alt="Image not found">
              <p>Design patterns</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Software testing" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.13.jpg' %}" alt="Image not found">
              <p>Software testing</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Networking" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.16.jpg' %}" alt="Image not found">
              <p>Networking</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Machine learning" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.19.jpg' %}" alt="Image not found">
            </a>
          </div>

          <div class="col-md-4">
            <a href="{% url 'show_learn_links' %}?subject=Python" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.5.jpg' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Javascript" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.6.jpg' %}" alt="Image not found">
              <p>Javascript</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=NoSql" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.22.jpg' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Sql" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.8.jpg' %}" alt="Image not found">
              <p>Sql</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Java" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.14.jpg' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Administration" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.17.png' %}" alt="Image not found">
              <p>Administration</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Pyramid" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.20.jpg' %}" alt="Image not found">
            </a>
          </div>

          <div class="col-md-4">
            <a href="{% url 'show_learn_links' %}?subject=Html" class="thumbnail">
                <img src="{% static 'knowledge_storage/img/learn_options_img1.9.png' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Css" class="thumbnail">
                <img src="{% static 'knowledge_storage/img/learn_options_img1.10.jpg' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Jquery" class="thumbnail">
                <img src="{% static 'knowledge_storage/img/learn_options_img1.11.png' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Git" class="thumbnail">
                <img src="{% static 'knowledge_storage/img/learn_options_img1.12.jpg' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Android" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.15.jpg' %}" alt="Image not found">
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Security" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.18.jpg' %}" alt="Image not found">
              <p>Security</p>
            </a>
            <a href="{% url 'show_learn_links' %}?subject=Cpp" class="thumbnail">
              <img src="{% static 'knowledge_storage/img/learn_options_img1.21.jpg' %}" alt="Image not found">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="learn-more">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Design pattern</h3>
            <p>Is a general reusable solution to a commonly occurring problem within a given context in software design.
                It is a description or template for how to solve a problem that can be used in many different situations.</p>
            <p><a href="https://en.wikipedia.org/wiki/Software_design_pattern">Read more about design patterns</a></p>
          </div>
          <div class="col-md-4">
            <h3>Algorithm</h3>
            <p>An informal definition could be "a set of rules that precisely defines a sequence of operations."
                which would include all computer programs, including programs that do not perform numeric calculations.
                Generally, a program is only an algorithm if it stops eventually.</p>
            <p><a href="https://en.wikipedia.org/wiki/Algorithm">Read more about algorithms</a></p>
          </div>
          <div class="col-md-4">
            <h3>Web framework</h3>
            <p>Is a software framework that is designed to support the development of dynamic websites, web applications,
                web services and web resources. The framework aims to alleviate the overhead associated with common
                activities performed in web development.</p>
            <p><a href="https://en.wikipedia.org/wiki/Web_application_framework">Learn more about web frameworks</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'knowledge_storage/js/jquery-2.2.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'knowledge_storage/js/common.js' %}"></script>
    <script src="{% static 'knowledge_storage/js/main.js' %}"></script>
  </body>
</html>
