<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'knowledge_storage/home.css' %}">
  </head>

  <body>

    {% if messages %}
    <div class="messages">
        <div class="b-popup-content">
            {% for message in messages %}
            <p><b>{{ message }}</b></p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="nav">
      <div class="icon-courses">
          <button type="button" class="btn btn-primary btn-sm"><img src='{% static 'knowledge_storage/list.png' %}'
          style="vertical-align: top"> Courses</button>
      </div>
      <ul class="pull-right">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'edit_profile' %}?next={{request.path}}">{{request.user.username}}</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">Log Out</a></li>
        {% else %}
            <li><a href="{% url 'register' %}?next={{request.path}}">Sign Up</a></li>
            <li><a href="{% url 'login' %}?next={{request.path}}">Log In</a></li>
        {% endif %}
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>

    <div class="courses">
        <ul>
            <li><a href="https://www.coursera.org/">Coursera</a></li>
            <li><a href="https://www.codecademy.com/">Codecademy</a></li>
            <li><a href="http://prometheus.org.ua/">Prometheus</a></li>
            <li><a href="https://www.coursetalk.com/">Coursetalk</a></li>
            <li><a href="https://www.class-central.com/">Class Central</a></li>
            <li><a href="https://iversity.org/">Iversity</a></li>
            <li><a href="https://www.futurelearn.com/">Futurelearn</a></li>
            <li><a href="https://www.udacity.com/">Udacity</a></li>
            <li><a href="https://www.edx.org/">Edx</a></li>
            <li><a href="https://ufaber.com/">Ufaber</a></li>
        </ul>
    </div>

    <div class="jumbotron">
      <img src="https://mrcallens.files.wordpress.com/2013/08/lost-book.jpg?w=1278&h=500&crop=1" alt="Image not found" onError="this.onerror=null;this.src='{% static 'knowledge_storage/home_img.jpg' %}';">
      <div class="container">
        <h1>Find time to <a href="{% url 'learn_options' %}">learn</a></h1>
      </div>
    </div>

    <div class="footer_main">
        <div class="footer_slide">
            <h2>"A fool thinks himself to be wise, but a wise man knows himself to be a fool."</h2>
            <p>William Shakespeare</p>
        </div>
        <div class="footer_slide">
            <h2>"From the errors of others, a wise man corrects his own."</h2>
            <p>Publilius Syrus</p>
        </div>
        <div class="footer_slide">
            <h2>"A smart man only believes half of what he hears, a wise man knows which half."</h2>
            <p>Jeff Cooper</p>
        </div>
        <div class="footer_slide">
            <h2>"A single conversation across the table with a wise man is better than ten years mere study of books."</h2>
            <p>Henry Wadsworth Longfellow</p>
        </div>
        <div class="footer_slide">
            <h2>"It is wise to direct your anger towards problems-not people; to focus your energies on answers-not excuses."</h2>
            <p>William Arthur Ward</p>
        </div>
        <div class="footer_slide">
            <h2>"Life's Tragedy is that we get old to soon and wise too late."</h2>
            <p>Benjamin Franklin</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://malsup.github.io/min/jquery.cycle.all.min.js"></script>
    <script src="{% static 'knowledge_storage/home.js' %}"></script>
  </body>
</html>