@font-face {
    font-family: 'Shift';
    font-style: normal;
    font-weight: normal;
    src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift.woff") format("woff");
}

@font-face {
    font-family: 'Shift';
    font-style: normal;
    font-weight: bold;
    src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift-bold.woff") format("woff");
}

.messages {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    z-index: 2;
}

.b-popup-content p {
    font-family: 'Shift', sans-serif;
    color: rgb(3, 3, 1);
    font-size: 20px;
    text-align: center;
}

.b-popup-content {
    margin:40px auto 0 auto;
    width:350px;
    height: auto;
    padding: 30px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
    word-wrap: break-word;
}

#header {
    height: 5em;
    background-color: #efefef;
    width:100%;
    position:fixed;
    top:0;
    z-index: 1;
}

.header-nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: absolute;
    width: 100%;
    height: 2.5em;
}

.header-nav li {
    display: inline;
    color: #030103;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
}

.subnav {
    text-align: center;
    padding: 4px;
    position: absolute;
    top: 2.5em;
    width: 100%;
    height: 2.5em;
    background-color: #030103;
}

.subnav li {
    font-family: 'Shift', sans-serif;
    display: inline;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
}

.subnav li a {
    color: #fffef0;
}

.subnav li a:hover {
    color: #2f3aff;
}

.container {
    margin-top: 2.5em;
}

.container h2 {
    font-size: 20px;
}

.things-to-learn h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.thumbnail {
    position: relative;
    text-align: center;
}

.thumbnail image {
    position: absolute;
    left: 0;
    top: 0;
}

.thumbnail p {
    z-index: 0;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Shift', sans-serif;;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.learn-more .col-md-4 {
    margin-bottom: 50px;
}

.check_skills h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.check_skills li {
    font-size: 15px;
}

.personal_notes h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.personal_notes img {
    float: right;
}

#posts {
    margin-top: 30px;
    margin-bottom: 30px;
}

.field_wrapper {
    display: inline;
    margin-right: 20px;
}

#posts #submit {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add_note {
    margin-top: 40px;
    margin-bottom: 20px;
}

#results {
    margin-top: 150px;
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.active_row.hover {
   cursor: pointer;
   background-color: #98a3ff;
   /* whatever other hover styles you want */
}

#results a {
    text-decoration: none;
    color: #111111;
}

th {
    height: 50px;
    background-color: #030103;
    color: white;
}

.show-post {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  background-color: #eee;
}

.container#comment {
  width: 520px;
  margin-top: 20px;
}

.button-group#comment {
  margin-bottom: 20px;
}

.comment-counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.comment-posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.comment-posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}

/*div.tabs {*/
    /*/!*min-height: 7em;		/!* No height: can grow if :target doesn't work *!/!*/

    /*position: absolute;		/!* Establish a containing block *!/*/
    /*top: 29px;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*/!*line-height: 1;		/!* Easier to calculate with *!/!*/
    /*z-index: 0;        /!* So that we can put other things behind *!/*/
/*}*/

/*div.tabs > div {*/

    /*display: inline;*/
    /*/!*position: relative;*!/*/


    /*margin: 0 auto;*/
    /*/!*width: 100px;*!/*/
    /*/!*margin: 0 auto;*!/*/
    /*/!*text-align:center;*!/*/
    /*/!*margin-right: auto;*!/*/
    /*/!*margin-left: auto;*!/*/
    /*/!*position: absolute;*!/*/
    /*/!*text-align: center;*!/*/
/*}*/

/*/!*div.tabs:first-child {*!/*/
    /*/!*position: absolute;*!/*/
    /*/!*display: inline;*!/*/
    /*/!*text-align: center;*!/*/
/*/!*}*!/*/

/*div.tabs > div > a {*/
  /*color: black;			/!* Looks more like a button than a link *!/*/
  /*background: #CCC;		/!* Active tabs are light gray *!/*/
  /*padding: 0.2em;		/!* Some breathing space *!/*/
  /*border: 0.1em outset #BBB;	/!* Make it look like a button *!/*/
  /*border-bottom: 0.1em solid #CCC;       /!* Visually connect tab and tab body *!/*/
/*}*/

/*div.tabs > div:not(:target) > a {*/
  /*border-bottom: none;		/!* Make the bottom border disappear *!/*/
  /*background: #999;      /!* Inactive tabs are dark gray *!/*/
/*}*/

/*div.tabs > div:target > a {		/!* ... to the default item *!/*/
  /*border-bottom: 0.1em solid #CCC; /!* Visually connect tab and tab body *!/*/
  /*background: #CCC;      /!* Active tab is light gray *!/*/
/*}*/

/*div.tabs > div > div {*/
  /*background: #CCC;		/!* Light gray *!/*/
  /*z-index: -2;			/!* Behind, because the borders overlap *!/*/
  /*left: 0; top: 1.3em;		/!* The top needs some calculation... *!/*/
  /*bottom: 0; right: 0;		/!* Other sides flush with containing block *!/*/
  /*overflow: auto;		/!* Scroll bar if needed *!/*/
  /*padding: 0.3em;		/!* Looks better *!/*/
  /*border: 0.1em outset #BBB;     /!* 3D look *!/*/
/*}*/

/*div.tabs > div:not(:target) > div { /!* Protect CSS1 & CSS2 browsers *!/*/
  /*position: absolute;        /!* All these DIVs overlap *!/*/
/*}*/

/*div.tabs > div:target > div {*/
  /*position: absolute;		/!* All these DIVs overlap *!/*/
  /*z-index: -1;       /!* Raise it above the others *!/*/
/*}*/

/*div.tabs :target {*/
  /*outline: none;*/
/*}*/

/*.slide {*/
    /*display: none;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
/*}*/

/*.active-slide {*/
    /*display: block;*/
/*}*/



/*.arrow-prev {*/
    /*margin-right: 45px;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*margin-top: 9px;*/
/*}*/

/*.arrow-next {*/
    /*margin-left: 45px;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*margin-top: 9px;*/
/*}*/
