{% extends "register_forms.html" %}

{% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Timezone Form</title>
{% endblock %}

{% block content %}
    <h1 class="register-title">Select your time zone</h1>
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    <form action="{% url 'set_user_timezone' %}?next={{ redirect_to }}" method="POST" class="register">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set" class="register-button"/>
    </form>
{% endblock %}
