<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" onError="this.onerror=null;this.href='{% static 'knowledge_storage/css/bootstrap.min.css' %}';">
    <link rel="stylesheet" href="{% static 'knowledge_storage/css/main.css' %}">
  </head>

  <body>

    {% if messages %}
    <div class="messages">
        <div class="b-popup-content">
            {% for message in messages %}
            <p><b>{{ message }}</b></p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <header id="header">
        <div class="header-nav">
            <ul>
                <li id="home">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
                    <li><a href="{% url 'edit_profile' %}?next={{request.path}}">{{request.user.username}}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                    <li><a href="{% url 'register' %}?next={{request.path}}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>

        <nav class="subnav">
            <ul class="site-navigation">
                <li class="navitem"><a href="{% url 'learn_options' %}">Learn</a></li>
                <li class="navitem"><a href="{% url 'check_options' %}">Check</a></li>
                <li class="navitem"><a href="{% url 'note_options' %}">Note</a></li>
            </ul>
        </nav>
    </header>

    <div class="check_skills">
        <div class="container">
            <h1>Check your skills</h1>
            <div class="row">
                <div class="col-xs-5">
                    <h2>Skills test is essential part of educational process.</h2>
                    <p>Find out what you are capable of with one of these quizzes:</p>
                    <ul>
                        <li><a href="{% url 'show_check_links' %}?subject=Python">Python</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Logic">Logic</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Algorithms">Algorithms</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Javascript">Javascript</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Django">Django</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Pyramid">Pyramid</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=MongoDB">MongoDB</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Design patterns">Design patterns</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Sql">Sql</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Html">Html</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Css">Css</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Git">Git</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Jquery">Jquery</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Software testing">Software Testing</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Networking">Networking</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Machine learning">Machine learning</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Java">Java</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Administration">Administration</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Android">Android</a></li>
                        <li><a href="{% url 'show_check_links' %}?subject=Security">Security</a></li>
                    </ul>
                </div>
                <div class="slide-img col-xs-7">
                    <img src="{% static 'knowledge_storage/img/learn_options_img2.jpg' %}" alt="Image not found">
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'knowledge_storage/js/jquery-2.2.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'knowledge_storage/js/common.js' %}"></script>
    <script src="{% static 'knowledge_storage/js/main.js' %}"></script>
  </body>
</html>
